<%- model_class = Tweet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:tweet) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= link_to tweet.id, tweet_path(tweet) %></td>
        <td><%= tweet.user.email %></td>
        <td><%= tweet.tweet %></td>
        <td><%= tweet.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      tweet_path(tweet), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
